
/* color code  */
:root{
    --linear-gradient-light:#FFC41F;
    --linear-gradient-dark:#FF9C35;
    --solid:#FFFFFF;
}

/* hole container padding  */
.container{
    padding-bottom: 100px;
}

  /* navebar bprder radius  */
.navbar{
    border-radius: 60px;
}

 /* sloder section  */
.slide-bg{
    border-radius: 10px;
    background-image: url("images/bg/bg-2.png");
    background-repeat: no-repeat;
    
}

.slide-bg-1{
    border-radius: 10px;
    background-image: url("images/bg/bg-1.png");
    background-repeat: no-repeat;
}

.slide-bg-1 img{
    width: auto;
}


.slide-text{
padding: 100px 40px;
}


.carousel-item{
    padding: 20px 20px;
}


/* anchor tag underline remove  */
#link-ul-remove{
    text-decoration: none;
}

  /* card-deck customize  */
.card{
    border: none;
    border-radius: 30px;
    text-align: center;
}

.card-footer{
    background-color: #fff;
    border-top: none;
}

.cat-padding{
    padding-bottom: 50px;
}

/* footrer copy right  */
footer{
    text-align: center;
    color: grey;
    
}
